MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=framework_admin
MYSQL_USER=framework
MYSQL_PASSWORD=framework
REDIS_PORT=6379
ADMIN_SERVICE_PORT=8081
ADMIN_WEB_PORT=5173
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
KAFKA_PORT=9092
ROCKETMQ_NAMESRV_PORT=9876
ROCKETMQ_BROKER_FAST_PORT=10909
ROCKETMQ_BROKER_PORT=10911
